<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<!--
	<?if $(var.Platform)=x64? >
	<?define ProductCode = "{104E00B1-F29D-4972-ADA6-B0ABE7FE9984}" ?>

	<?else?>
	<?define ProductCode = "{A662C8EB-C8AF-4A9A-A740-136388DC9746}" ?>

	<?endif?>
-->

	<?define BuildVersion = 1.2.3.4 ?>

	<Product Id="*"
			 Name="Klassenzimmer Uhr"
			 Language="1031"
			 Version="$(var.BuildVersion)"
			 Manufacturer="OxygenEgg"
			 UpgradeCode="6a51d2aa-04a8-4e06-ad5a-b3acfabfdb40">

		<Package InstallerVersion="200"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Manufacturer="OxygenEgg"
				 Description="Ne Uhr fürs Klassenzimmer"
				 Languages="1031"/>

		<MajorUpgrade DowngradeErrorMessage="Eine neuere Version der Klassenzimmer Uhr ist bereits installiert." />

		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature"
				 Title="KlaziUhr"
				 Level="1">

			<ComponentGroupRef Id="ProductComponents" />

		</Feature>

		<Icon Id="icon.ico" SourceFile="$(var.KlaziUhr.ProjectDir)\Resources\icon.ico" />

		<Property Id="ARPPRODUCTICON">icon.ico</Property>
		<Property Id="ARPPURLINFOABOUT">https://github.com/OxygenEgg/KlaziUhr</Property>

		<UIRef Id="WixUI_Minimal" />

		<WixVariable Id="WixUIDialogBmp" Value="Resources\Background.bmp" />
		<WixVariable Id="WixUIBannerBmp" Value="Resources\Banner.bmp" />
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

	</Product>

</Wix>
